.card__col {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  box-shadow: -1px 5px 10px rgba($color: #ffd, $alpha: 0.2);
  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  h4 {
    margin: unset;
    font-size: 1rem;
    color: green;
    font-weight: 700;
  }
  span {
    font-size: 0.9rem;
  }
  .img {
    width: 250px;
    height: 100px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  &.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .img {
      width: 100%;
      height: 200px;
    }
  }
  .icon {
    margin-right: 4.3px;
    color: green;
  }
  .line {
    padding: 14px;
    width: 1px;
    height: 100%;
    color: #111;
  }
}
