.home {
  padding: 30px;
}
p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
h4 {
  margin: unset;
  font-size: 1rem;
  color: green;
  font-weight: 700;
}
span {
  font-size: 0.9rem;
}
.img {
  width: 200px;
  height: 100px;
  margin-right: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
