@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import '~antd/dist/antd.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 16px;
}
body {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 16px;
}
